<!DOCTYPE html>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="apple-mobile-web-app-capable" content="no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<!-- QR Code -->
<script type="text/javascript" src="jsqrcode/src/grid.js"></script>
<script type="text/javascript" src="jsqrcode/src/version.js"></script>
<script type="text/javascript" src="jsqrcode/src/detector.js"></script>
<script type="text/javascript" src="jsqrcode/src/formatinf.js"></script>
<script type="text/javascript" src="jsqrcode/src/errorlevel.js"></script>
<script type="text/javascript" src="jsqrcode/src/bitmat.js"></script>
<script type="text/javascript" src="jsqrcode/src/datablock.js"></script>
<script type="text/javascript" src="jsqrcode/src/bmparser.js"></script>
<script type="text/javascript" src="jsqrcode/src/datamask.js"></script>
<script type="text/javascript" src="jsqrcode/src/rsdecoder.js"></script>
<script type="text/javascript" src="jsqrcode/src/gf256poly.js"></script>
<script type="text/javascript" src="jsqrcode/src/gf256.js"></script>
<script type="text/javascript" src="jsqrcode/src/decoder.js"></script>
<script type="text/javascript" src="jsqrcode/src/qrcode.js"></script>
<script type="text/javascript" src="jsqrcode/src/findpat.js"></script>
<script type="text/javascript" src="jsqrcode/src/alignpat.js"></script>
<script type="text/javascript" src="jsqrcode/src/databr.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    qrcode.callback = read;
    function read(a)
    {
        var ahtml = '';
        if (a.match(/^http/i) !== null){
            //make it a href
            ahtml = 'Click to view page<br/><br/>';
            ahtml += '<a href="'+a+'">'+a+'</a>';
        }else{
            //just print in div
            if (a.match(/^error/i) !== null){
                ahtml = '<span style="color:#FF0000;">'+a+'</span>';
            }else{
                ahtml = a;
            }
        }
        $('div#processing').hide();
        $('div#result').html(ahtml).show();
        $('input#photo').val('');
    }

    function handleFiles(file){
        var reader = new FileReader();
        reader.onload=(function(theFile){
            return function(e){
                qrcode.decode(e.target.result);
            }
        })(file);
        reader.readAsDataURL(file);
    }

    $('#photo').change(function(){
        //console.log(this.files[0]);
        $('div#processing').show();
        handleFiles(this.files[0]);
    });

    getHistory();

});

</script>

<script type="text/javascript">

  function getHistory() {
      $.ajax({
      url: '/getHistory',
      success: function(data){
        var json = $.parseJSON(data);
        var list = "<ul>";
        $.each(json,function(index,element){
             list += "<li>"+ element.seq +"   "+ convertNumberToImg(element.number)+"</li>";
          });

        list += "</ul>";
        $("#historySection").html(list);
      },
      error: function(data){
        $("#historySection").text("최근 당첨 리스트 조회 실패");
      }

    }).done(function(data){

    });
  }

  function convertNumberToImg(numberlist) {
   
    var numArray = numberlist.split(",");
    var imgList = "";

    for(var i=0; i<numArray.length; i++) {
      
      imgList += '<img src="http://www.nlotto.co.kr/img/common/ball_'+numArray[i].trim()+'.png"/>';
    }    

    return imgList;
  }

  function mobileResize() {
    var myWidth = 0, myHeight = 0;

    if( typeof( window.innerWidth ) == 'number' ) {
      //Non-IE
      myWidth = window.innerWidth;
      myHeight = window.innerHeight;
    } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
      //IE 6+ in 'standards compliant mode'
      myWidth = document.documentElement.clientWidth;
      myHeight = document.documentElement.clientHeight;
    } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
      //IE 4 compatible
      myWidth = document.body.clientWidth;
      myHeight = document.body.clientHeight;
    }
   
    // div ¿¡ ½×¿©Áø ¿µ¿ª È­¸é Á¶Á¤ 
    var deviceWidth = myWidth;
    document.getElementById('main').style.width = deviceWidth + "px";
  }

  function bubbleSort(array)
  {
      var swapped;
      do {
          swapped = false;
          for (var i=0; i < array.length-1; i++) {
              if (array[i] > array[i+1]) {
                  var temp = array[i];
                  array[i] = array[i+1];
                  array[i+1] = temp;
                  swapped = true;
              }
          }
      } while (swapped);
  }

  function minus() {
    var count = parseInt($("#lottoCount").val());

    if(count > 1) {
      count -= 1;
    }

    $("#lottoCount").val(count);
  }

  function plus() {
   var count = parseInt($("#lottoCount").val());

    if(count < 5) {
      count += 1;
    }

    $("#lottoCount").val(count); 
  }

  function makeNumber() {
     
      var makeCount = parseInt($("#lottoCount").val());
      var lotto = new Array( new Array(makeCount), new Array(6));
      var count = 0;
      var mFlag = true;
     
     for(var idx=0; idx<makeCount; idx++) {

         count = 0;

         while(count < 6)
         {
           var number;
     
           number = parseInt(Math.random()*45)+1
     
           for(var i=0; i<count; i++)
              if(lotto[idx][i] == number) mFlag = false;
     
           if(mFlag)
           {
                lotto[idx][count] = number;
                count++;
           }
           mFlag = true;
         } 

         bubbleSort(lotto[idx]);

         for(var i=0; i<6; i++) {
            var id = "number_field_"+(idx+1)+"_"+(i+1);
            $("#"+id).attr("src", "http://www.nlotto.co.kr/img/common/ball_"+lotto[idx][i]+".png");
            $("#"+id).attr("alt", lotto[idx][i]);
         }
      }
  }

  function loadCamera() {
    $("#photo").click();
  }
</script>

<body>
  <div data-role="page" data-theme="d">
    <div id="main">
      <div style="text-align: center; margin-top: 20px">
        <font size="100">Lotto 45</font>
      </div>
      <div style="text-align: right; margin: 20px">
        <button onclick="minus();">-</button>
        <input type="text" value="1" readonly="readonly" id="lottoCount" style="width: 30px">
        <button onclick="plus();">+</button>
        <button onclick="makeNumber();" style="width: 200px;">생성</button>
      </div>
      <div style="text-align: center;">
        <img id="number_field_1_1"/>
        <img id="number_field_1_2"/>
        <img id="number_field_1_3"/>
        <img id="number_field_1_4"/>
        <img id="number_field_1_5"/>
        <img id="number_field_1_6"/>
      </div>
      <div style="text-align: center;">
        <img id="number_field_2_1"/>
        <img id="number_field_2_2"/>
        <img id="number_field_2_3"/>
        <img id="number_field_2_4"/>
        <img id="number_field_2_5"/>
        <img id="number_field_2_6"/>
      </div>
      <div style="text-align: center;">
        <img id="number_field_3_1"/>
        <img id="number_field_3_2"/>
        <img id="number_field_3_3"/>
        <img id="number_field_3_4"/>
        <img id="number_field_3_5"/>
        <img id="number_field_3_6"/>
      </div>
      <div style="text-align: center;">
        <img id="number_field_4_1"/>
        <img id="number_field_4_2"/>
        <img id="number_field_4_3"/>
        <img id="number_field_4_4"/>
        <img id="number_field_4_5"/>
        <img id="number_field_4_6"/>
      </div>
      <div style="text-align: center;">
        <img id="number_field_5_1"/>
        <img id="number_field_5_2"/>
        <img id="number_field_5_3"/>
        <img id="number_field_5_4"/>
        <img id="number_field_5_5"/>
        <img id="number_field_5_6"/>
      </div>
    </div>

    <div style="margin: 20px;">
      <fieldset>
        <label for="photo"><b>QRCode 당첨확인</b></label>
        <span onclick="loadCamera();"><img src="/camera.png" style="width: 30px; height: 25px;"></span>
        <input type="file" name="photo" id="photo" value="" capture="camera" style="display: none;">
      </fieldset>
     </div>

    <div id="result" style="margin:20px;text-align:center;padding:10px;border-radius:5px;background:#F1F1F1;word-wrap:break-word;display:none;">
    </div>
    <div id="processing" style="text-align:center; margin-top: 20px; display:none;">
      <img style="vertical-align:middle" src="ajax-loader.gif"> <i>Processing</i>
    </div>
    <div style="margin: 20px;">
      <h3>최근 당첨 리스트</h5>
      <span id="historySection">
        리스트 불러오는 중...
      </span>
    </div>
  </div>
</body>
</html>
