<!DOCTYPE html>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="apple-mobile-web-app-capable" content="no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<script type="text/javascript">

    var myWidth = 0, myHeight = 0;

    if( typeof( window.innerWidth ) == 'number' ) {
      //Non-IE
      myWidth = window.innerWidth;
      myHeight = window.innerHeight;
    } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
      //IE 6+ in 'standards compliant mode'
      myWidth = document.documentElement.clientWidth;
      myHeight = document.documentElement.clientHeight;
    } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
      //IE 4 compatible
      myWidth = document.body.clientWidth;
      myHeight = document.body.clientHeight;
    }
   
    // div 에 쌓여진 영역 화면 조정 
    Var deviceWidth = myWidth;
    document.getElementById('main').style.width = deviceWidth + "px";

  function makeNumber() {
     // 6개의 로또 번호를 저장할 배열
      var lotto = new Array(6);
     // 추첨된 로또번호의 갯수
      var count = 0;
     // 번호중복 방지용 변수
     var mFlag = true;
     // 6개의 로또번호를 얻을때까지 반복
     while(count < 6)
     {
       var number;
       // 랜덤번호 추출
       number = parseInt(Math.random()*45)+1
       // 중복확인
       for(var i=0; i<count; i++)
          if(lotto[i] == number) mFlag = false;
       // 중복된 번호가 아니면 로또 번호배열에 추가
       if(mFlag)
       {
            lotto[count] = number;
            count++;
       }
       mFlag = true;
     } 

     alert(lotto[0]+', '+lotto[1]+', '+lotto[2]+', '+lotto[3]+', '+lotto[4]+', '+lotto[5]);
  }

</script>
<body>

<div id="main">
  <H1>로또번호 생성기</H1>
  <button onclick="makeNumber();">생성</button>
  <div id="number"></div>
</div>
</body>
</html>
